@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030712;
  --foreground: #f9fafb;
}

body {
  background-color: #030712;
  color: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;
}
